body,html {
	margin: 0;
	padding: 0;
}
#header{
	width: 100%;
	height: 120px;
	background: #0d0d0e url(../images/bg_header.png) center repeat-x;
	position: relative;
}
.flex_container{
	display: flex;
}
.box{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#header .inner_box{
	position: relative;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	height: 120px;
}
#header .nav_link_box{
	/*position: absolute;*/
	margin-left: 20px;
	margin-right: auto;
	top: 40px;
	/*left: 20px;*/
	/*flex-grow: 3;*/
}
#header .nav_link{
	/*display: inline-block;*/
	font-size: 14px;
	line-height: 14px;
	padding-left: 30px;
	background: url(../images/icon_nav.png) center left no-repeat;
	text-decoration: none;
	color: #758785;
	outline: none;
}
#logo{
	/*position: absolute;*/
	/*left: 25%;
	top: 34px;*/
	/*flex-grow: 1;*/
}
#header .icon_box{
	line-height: 30px;
	font-size: 14px;
	/*position: absolute;*/
	/*right: 0;
	top: 34px;*/
	color: #758785;
	margin-right: 20px;
	margin-left: auto;
}
#header .icon_box a{
	margin-left: 8px;
}
#header .icon_box img{
	vertical-align: middle;
	line-height: 30px;
}

#header #nav_box{
	display: none;/*inline-block;*/
	position: absolute;
	z-index: 999;
	left: 0;
	top: 110px;
	width: 100%;
	padding: 10px 0 30px 0;
	background: #0d0d0e url(../images/bg_header.png) bottom repeat-x;
	/*opacity: 0;*/

	/*transition: .8s;*/
}
#header #nav_box .nav_inner{
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#header #nav_box li{
	display: inline-block;
	margin: 0 10px;
}
#header #nav_box li a{
	color: #9e9e9e;
	font-size: 16px;
	display: block;
	padding-left: 20px;
	background: url(../images/icon_menu.png) left center no-repeat;
	text-decoration: none;
}
.close_nav{
	position: absolute;
	right: 20px;
	top: 3px;
	display: block;
	text-decoration: none;
	padding-left: 25px;
	font-size: 13px;
	font-family: 'ProximaNova-Bold', sans-serif;
	letter-spacing: 1px;
	color: #9e9e9e;
	line-height: 14px;
	background: url(../images/bg_close_this_link.png) left center no-repeat;
}
/*--------------------------------------------------*/
#login_page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
	display: none;
	/*display: block;*/
	opacity: 1;
}
.form {
	position: relative;
	z-index: 1;
	background-color: rgba(158, 158, 158, 0.7);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}

#result_form{
	display: block;
	opacity: 0;
	margin: 0 auto 100px;
	width: 350px;
	background: #4CAF50;
	border: 1px solid blue;
	text-align: center;
	padding: 10px;
	font-size:24px;
	/*position: relative;*/
}
/*.my-background-video{
	display: block;
	z-index: -100;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
}*/

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	/*background: #000;*/
	z-index: -100;
}
.container video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

/*@keyframes cssAnimation {
	to {
		opacity: 0;
	}
}*/
.run-animation {
	position: relative;
	animation: my-animation 0s 2.5s forwards;
}

@keyframes my-animation {
	from {
		opacity : 1;
	}
	to {
		opacity : 0;
	}
}


/*.formHidden {
	display: none;
}*/

/*--------------------------------------------------------------------*/
#ul_someone{
	display: none;
}

a{text-decoration: none;}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.side{
	/*width: 80px; /*длина меню*/
	margin: 20px; /*отступы вокруг меню*/
}

.menu a{/*убрал запятую между a,div*/
	background: #3d3d3d;
	color: #fff;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #666;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}
#close{
	background: #3d3d3d;
	color: #fff;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #666;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}

.menu a:hover{    /*при наведении на меню*/
	background: #666;
	padding: 10px 0 10px 20px;
}
#close:hover{    /*при наведении на меню*/
	background: #666;
	padding: 10px 0 10px 20px;
}



nav > #nav_show{
	display: none;
}

@media (max-width: 1012px) {
	nav #nav_hidden { display: none; }
	nav #nav_show { display: block; }
	.side{width: 100px; margin: 0;}
	#nav_show{
		/*margin-top: 330px;*/
		font: 1em/1.4em sans-serif;
	}
	li a{margin-left: 0 !important;}

}


